.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.grid-wrapper {
    flex: 1 1 0px;
    width: 100%;
}

#myGrid {
    height: 100%;
}


.custom-accordion {
    overflow: auto;
}

.custom-accordion .accordion-button::after {
    content: none;
}

.custom-accordion .accordion {
    position: relative;
    z-index: 1;
}

.custom-accordion .accordion .custom-accordion-header {
    position: sticky;
    top: 0;
    z-index: 99;
}

.custom-accordion .accordion .accordion-item {
    background: #0b1e38 !important;
    border-left: 6px solid;
    border-radius: 6px !important;
    border-bottom: none;
}

.custom-accordion .accordion .accordion-button {
    background: #0b1e38 !important;
}

.custom-accordion .accordion-item {
    margin-top: 10px;
}

.custom-accordion .accordion-sub-header {
    display: flex;
}

.custom-accordion .accordion-sub-header .number-project {
    margin: 5px 0 0 10px;
}

.custom-accordion .main-project-table-accordion-body .custom-project-table .table-head {
    position: sticky;
    top: 55px;
    z-index: 99;
}

.custom-accordion .dark-layout .accordion-button::before {
    background-image: url(../images/svg/accordion-botton.svg);
}

.custom-accordion .accordion-button::before {
    margin-right: 25px;
    background-image: url(../images/svg/accordion-botton.svg);
    background-repeat: no-repeat;
    background-size: 1rem;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    content: "";
    transition: transform 0.2s ease-in-out;
}

.custom-accordion .accordion-button:not(.collapsed)::before {
    transform: rotate(-180deg);
}